{% extends 'ZantolovBsBundle::base.html.twig' %}


{% block outerBody %}

    <div class="">

        {% include "ZantolovAppBundle::Layout/partials/flashNotifications.html.twig" with {} %}

        {% block top %}
            <h1 class="text-center">Balanced Scorecard</h1>
        {% endblock %}
        <div class="topBlock">
            <div class="col-md-12 text-center">
                {% block navigation %}

                    <ul class="list-inline list-unstyled">
                        {% for label, url in {
                        Objectives: url('app.o'),
                        Measures: url('app.m'),
                        Reports: url('app.r'),
                        } %}
                            <li>
                                <a class="btn btn-primary btn-xs" href="{{ url }}">
                                    {{ label }}
                                </a>
                            </li>

                        {% endfor %}
                    </ul>
                {% endblock %}
            </div>
            <div class="col-md-12">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>




{% endblock outerBody %}
