{% extends 'ZantolovAppBundle:Layout:adminAppLayout.html.twig' %}

{% block customStylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/zantolovbs/css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block outerBody %}

    {% block navigation %}
        {% include 'AppBundle::_partials/menu.html.twig' %}
    {% endblock %}

    {% block flashNotifications %}
        {% include "ZantolovAppBundle::Layout/partials/flashNotifications.html.twig" with {} %}
    {% endblock %}

    <div class="col-md-12">
        {% block top %}{% endblock %}
    </div>

    <div class="col-md-12">
        {% block body %}{% endblock %}
    </div>

{% endblock outerBody %}

{% block customJsPlugins -%}
    {{ parent() }}
    <script src="//code.highcharts.com/highcharts.js"></script>

{% endblock %}