{% extends 'ZantolovBsBundle::app.html.twig' %}

    {% block body -%}
        <h1>Delete</h1>

        <p class="text-center">
            <strong>ARE YOU SURE?</strong>
        </p>

        <div class="text-center">
            <ul class="list-inline">
                <li>
                    <a href="{{ url(crudId ~'.show', {id: entity.id}) }}" class="btn btn-primary">
                        <i class="fa fa-arrow-left"></i> BACK
                    </a>
                </li>
                <li>
                    {{ form(form) }}
                </li>
            </ul>

        </div>

    {% endblock %}
