{% extends '::app.html.twig' %}

    {% block body -%}
        <h1>Measures list</h1>

        {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
        routePrefix: crudId,
        ignoreLinks: ['list']
        } %}{% endembed %}

        {% embed 'ZantolovAppBundle:CRUD/Template:datatable.html.twig' %}
            {% block thead %}
                <tr>
                    <th>Parent</th>
                    <th>Measure</th>
                    <th>Ratio</th>
                    <th class="col-md-3 text-right">Actions</th>
                </tr>
            {% endblock thead %}

            {% block item %}
                <tr>
                    <td>{{ item.parentMeasure }}</td>
                    <td>{{ item.measure }}</td>
                    <td>{{ item.ratio }}</td>
                    <td class="col-md-3 text-right">
                        {% include 'ZantolovAppBundle:CRUD/Template:datatable-item-actions.html.twig' with {
                        crudId: crudId
                        } %}
                    </td>
                </tr>
            {% endblock item %}

        {% endembed %}

    {% endblock %}
