{% extends 'ZantolovBsBundle::app.html.twig' %}

    {% block body -%}
        <h1>Measure ratio</h1>

        {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
        id: item.id,
        routePrefix: crudId,
        ignoreLinks: ['show']
        } %}{% endembed %}

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Measure</th>
                <td>{{ item.measure }}</td>
            </tr>

            <tr>
                <th>Parent</th>
                <td>{{ item.parentMeasure }}</td>
            </tr>

            </tbody>
        </table>

    {% endblock %}
