{% extends '::app.html.twig' %}

    {% block body -%}

        <h1>Objectives hierarchy</h1>

        <ol id="objectiveList" data-parent-id="0" class="sortable">
            {% for objective in objectives %}
                {% include 'ZantolovBsBundle:ObjectiveTree:ObjectiveTreeItem.html.twig' with {
                objective: objective
                } only %}
            {% endfor %}
        </ol>
        <div class="input-group">
            <div class="col-sm-2">
                <input id="newObjectiveCode" type="text" class="form-control" placeholder="Code">
            </div>
            <div class="col-sm-6">
                <input id="newObjectiveTitle" type="text" class="form-control" placeholder="Title">
            </div>

            <div class="input-group-btn">
                <button id="createNewObjectiveTrigger" class="btn btn-success" type="button">
                    <i class="fa fa-plus"></i> Add
                </button>
            </div>
        </div>

    {% endblock %}

    {% block customJsPlugins %}
        {{ parent() }}
        <script src="{{ asset('bundles/zantolovbs/js/jquery-sortable-min.js') }}"></script>

        <script>
            $(function () {

                $("#createNewObjectiveTrigger").on("click", function () {
                    var obj = {
                        title: $("#newObjectiveTitle").val(),
                        code: $("#newObjectiveCode").val()
                    };
                    $.ajax({
                        type: "POST",
                        url: "{{ url('objective.tree.create') }}",
                        dataType: "JSON",
                        data: obj,
                        success: function (data) {
                            console.log(data);
                            if (data.success == true) {
                                var obj = $("#objectiveList > li:first-child").clone();
                                obj.find('ol').children().remove();
                                obj.attr('data-id', data.data.id);
                                obj.find('.removeObjectiveTrigger').attr('data-objective-id', data.data.id);
                                obj.find('ol').attr('data-parent-id', data.data.id);
                                obj.find('span.objectiveTitle').text(data.data.title);
                                console.log(obj);
                                $("#objectiveList").append(obj);
                                $("#newObjectiveTitle").val("");
                            }
                        },
                        error: function () {

                        }
                    });
                });

                $('.removeObjectiveTrigger').on('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    if (!confirm('Please Confirm Deletion')) {
                        return;
                    }

                    var id = $(this).attr('data-objective-id');
                    $.ajax({
                        type: "POST",
                        url: "{{ url('objective.tree.delete') }}",
                        dataType: "JSON",
                        data: {id: id},
                        success: function (data) {
                            console.log(data);
                            if (data.success == true) {
                                $('#objectiveList li[data-id="' + data.data.id + '"]').remove();
                            }
                        },
                        error: function () {
                        }
                    });
                });

                $('#newObjectiveTitle').on('keyup', function (e) {
                    if (e.which == 13) {
                        e.preventDefault();
                        $("#createNewObjectiveTrigger").click();
                    }
                });


                $(".sortable").sortable({
                    onDrop: function ($item, container, _super) {

                        var parentId = container.el.attr("data-parent-id");
                        var childId = $item.attr("data-id");

                        $item.removeClass(container.group.options.draggedClass).removeAttr("style")
                        $("body").removeClass(container.group.options.bodyClass)

                        $.ajax({
                            type: "POST",
                            url: "{{ url('objective.tree.update') }}",
                            dataType: "JSON",
                            data: {parentId: parentId, childId: childId},
                            success: function (data) {
                            },
                            error: function () {

                            }
                        });
                    }
                });
            });
        </script>
    {% endblock %}
