<li data-id="{{ objective.id }}">
    <span class="objectiveTitle">{{ objective.title }}</span>
    <a href="#" class="removeObjectiveTrigger pull-right" data-objective-id="{{ objective.id }}">
        <i class="fa fa-times"></i>
    </a>


    <ol data-parent-id="{{ objective.id }}">
        {% for objective in objective.children %}
            {% include 'ZantolovBsBundle:ObjectiveTree:ObjectiveTreeItem.html.twig'  with {
            objective: objective
            } only %}
        {% endfor %}
    </ol>
</li>