{% extends '::app.html.twig' %}

    {% block body -%}
        <h1>Edit</h1>

        {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
        id: form.vars.data.id,
        routePrefix: crudId,
        ignoreLinks: ['edit']
        } %}{% endembed %}

        {{ form(form) }}

    {% endblock %}
