{% extends '::app.html.twig' %}

    {% block body -%}
        <h1>New</h1>

        {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
        routePrefix: crudId,
        ignoreLinks: ['new']
        } %}{% endembed %}

        {{ form(form) }}

    {% endblock %}
