{% extends 'ZantolovBsBundle::app.html.twig' %}

    {% block body -%}
        <h1>Objective</h1>

        {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
        id: item.id,
        routePrefix: crudId,
        ignoreLinks: ['show']
        } %}{% endembed %}

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ item.title }}</td>
            </tr>

            <tr>
                <th>Bottom start threshold</th>
                <td>{{ item.bottomStartThreshold }}</td>
            </tr>

            <tr>
                <th>Bottom end threshold</th>
                <td>{{ item.bottomEndThreshold }}</td>
            </tr>

            <tr>
                <th>Top start threshold</th>
                <td>{{ item.topStartThreshold }}</td>
            </tr>
            <tr>
                <th>Top end threshold</th>
                <td>{{ item.topEndThreshold }}</td>
            </tr>

            </tbody>
        </table>

        <h3>Child measures</h3>
        <ul>
            {% for measure in item.getChildrenMeasures %}
                <li>
                    {{ measure.measure.code }}: {{ measure.measure.title }} ({{ measure.ratio }})
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
