{% extends '::app.html.twig' %}

    {% block body -%}
        <h1>Objective list</h1>

        {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
        routePrefix: crudId,
        ignoreLinks: ['list']
        } %}{% endembed %}

        {% embed 'ZantolovAppBundle:CRUD/Template:datatable.html.twig' %}
            {% block thead %}
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Title</th>
                    <th>Perspective</th>
                    <th class="col-md-3 text-right">Actions</th>
                </tr>
            {% endblock thead %}

            {% block item %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.code }}</td>
                    <td>
                        <a href="{{ path('objective.show', { 'id': item.id }) }}">{{ item.title }}</a>
                    </td>
                    <td>{{ item.perspective }}</td>
                    <td class="col-md-3 text-right">
                        {% include 'ZantolovAppBundle:CRUD/Template:datatable-item-actions.html.twig' with {
                        crudId: crudId
                        } %}
                    </td>
                </tr>
            {% endblock item %}

        {% endembed %}

    {% endblock %}
