{% extends 'ZantolovBsBundle::app.html.twig' %}

    {% block body -%}
        <h1>Objective</h1>

        {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
        id: item.id,
        routePrefix: crudId,
        ignoreLinks: ['show']
        } %}{% endembed %}

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ item.title }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ item.createdAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>Updated at</th>
                <td>{{ item.updatedAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            </tbody>
        </table>

    {% endblock %}
