{% extends 'ZantolovBsBundle::app.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-6">
            <div>
                <a href="javascript:void(0);" id="addColumnTrigger" class="btn btn-xs btn-primary">
                    Add column <i class="fa fa-plus"></i>
                </a>

                <a href="javascript:void(0);" id="calcTrigger" class="btn btn-xs btn-success">
                    Calculate <i class="fa fa-check"></i>
                </a>

                <a href="javascript:void(0);" id="saveTrigger" class="btn btn-xs btn-default">
                    Save <i class="fa fa-save"></i>
                </a>
            </div>
            <div class="scrollableContent">
                <br>
                <table id="measures" class="table table-bordered">
                    <tr class="nonInput header">
                        <td></td>
                    </tr>
                    {% for m in measures %}
                        <tr data-measure="{{ m.id }}">
                            <th class="col-sm-2 text-center">
                                <div title="{{ m.title }}: {{ m.d }} {{ m.dd }} {{ m.gg }} {{ m.g }}">
                                    {{ m.code }}
                                </div>
                            </th>
                        </tr>
                    {% endfor %}

                </table>
            </div>
            <h3>Saved Data</h3>

            <div id="savedData" class="well-sm well">
                <ul class="list-unstyled list-inline"></ul>
            </div>

            <a href="javascript:void(0)" class="removeHistoryTrigger btn btn-xs btn-danger">
                <i class="fa fa-trash"></i> Remove history
            </a>

        </div>
        <div class="col-sm-6">

            <label>Target measure to visualize:</label>
            <select name="targetMeasure" id="targetMeasure" class="">
                {% for m in allMeasures %}
                    <option value="{{ m.id }}">{{ m }}</option>
                {% endfor %}
            </select>

            <div id="chartArea"></div>
        </div>

    </div>
    <div id="objectiveData"></div>

    <script>
        var functions = window.functions || [];
        functions.push(function () {
            var titlesCount = 1;

            function addColumn(title) {
                $("#measures tr").not('.nonInput').each(function () {
                    var td = $('<td/>').addClass('dataTd').attr('data-interval', title).append($('<input/>').attr('data-interval', title));
                    $(this).append(td);
                });

                $("#measures tr.header").append($('<td/>').addClass('period dataTd').attr('data-interval', title).text(title)
                                .append($('<a/>').html('<i class="removeColumnTrigger fa fa-times"></i>'))
                );
            }

            function clearTable() {
                $('.dataTd').remove();
            }

            function showObjectiveData(data) {
                if (!data.objectiveData) {
                    return;
                }

                $("#objectiveData *").remove();

                for (var i = 0; i < data.objectiveData.length; i++) {
                    var objective = data.objectiveData[i];
                    console.log(objective);

                    var measures = $('<div/>').addClass('objectiveMeasures');
                    for (var j = 0; j < objective.data.length; j++) {
                        measures.append($('<div/>').addClass('measureItem')
                                        .append($('<div/>').css({background: objective.data[j].color})
                                                .text(
                                                objective.data[j].period
                                        ).attr('title', objective.data[j].measure.code + "(" + objective.data[j].value + ")")
                                )
                        )
                    }

                    var objElem = $('<div/>').addClass('objItem')
                            .append($('<div/>').addClass('objectiveTitle').text(objective.objective.code).attr('title', objective.objective.title))
                            .append(measures);
                    $("#objectiveData").append(objElem);
                }


            }

            $(".removeHistoryTrigger").on("click", function (e) {
                if (!confirm("Are you sure")) {
                    return;
                }
                e.preventDefault();
                localStorage.setItem("zantolov.bs.saved", JSON.stringify([]));
                loadHistory();
            });

            $("#addColumnTrigger").on("click", function () {
                var title = prompt('Interval title');
                if (!title) {
                    title = titlesCount;
                }
                titlesCount++;

                addColumn(title);
            });

            $("body").on("click", '.removeColumnTrigger', function () {
                if (!confirm("Are you sure")) {
                    return;
                }
                var interval = $(this).parents('td').attr('data-interval');
                $('td[data-interval="' + interval + '"]').each(function () {
                    $(this).remove();
                });
            });

            function getSavedData() {
                try {
                    var data = JSON.parse(localStorage.getItem("zantolov.bs.saved"));
                    if (data == null) {
                        return [];
                    }
                    return data;
                } catch (e) {
                    return [];
                }
            }

            function loadHistory() {
                $("#savedData ul li").remove();

                var data = getSavedData();
                if (!data) {
                    return;
                }
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    $("#savedData ul").append($('<li/>').append($('<a/>').addClass('restoreTrigger').attr('data-values', JSON.stringify(item)).text(item.title)));
                }
            }

            loadHistory();

            $("body").on("click", ".restoreTrigger", function () {
                try {
                    clearTable();
                    var data = JSON.parse($(this).attr('data-values'));

                    for (var key in data.data) {
                        if (data.data.hasOwnProperty(key)) {
                            var values = data.data[key];
                            addColumn(key);
                            for (var measureId in values) {
                                if (values.hasOwnProperty(measureId)) {
                                    var selector = 'tr[data-measure="' + measureId + '"] input[data-interval="' + key + '"]';
                                    $(selector).val(values[measureId]);
                                }
                            }
                        }
                    }
                    $("#calcTrigger").click();

                } catch (e) {
                    console.log(e);
                }
            });

            $("#saveTrigger").on("click", function () {

                var oldData = getSavedData();
                var title = false;
                title = prompt('Title:');
                if (!title) {
                    alert('Title is mandatory');
                    return;
                }

                var map = {};
                $("td.period").each(function () {
                    currentInterval = $(this).attr("data-interval");
                    map[currentInterval] = {};

                    $('input[data-interval="' + currentInterval + '"]').each(function () {
                        map[currentInterval][$(this).parents('tr').attr('data-measure')] = $(this).val();
                    })
                });
                oldData.push({title: title, data: map});

                localStorage.setItem("zantolov.bs.saved", JSON.stringify(oldData));
                loadHistory();
            });


            $("#targetMeasure").on("change", function(){
               $("#calcTrigger").click();
            });

            $("#calcTrigger").on("click", function () {
                var map = {};
                $("td.period").each(function () {
                    currentInterval = $(this).attr("data-interval");
                    map[currentInterval] = {};

                    $('input[data-interval="' + currentInterval + '"]').each(function () {
                        map[currentInterval][$(this).parents('tr').attr('data-measure')] = $(this).val();
                    })
                });

                $.ajax({
                    url: "{{ url('api.calc') }}",
                    data: {data: map, target: $("#targetMeasure").val()},
                    type: 'POST',
                    success: function (data) {
                        showObjectiveData(data);
                        var options = {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: data.measure.title
                            },
                            xAxis: {
                                categories: data.intervals,
                                crosshair: true
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            series: data.data
                        };
                        $('#chartArea').highcharts(options);
                    }
                });
            });

        });
    </script>
{% endblock %}
