{% extends 'ZantolovBsBundle::app.html.twig' %}

{% block outerBody %}
    {{ form_start(form) }}

    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                {{ form_row(form.code) }}
            </div>

            <div class="col-xs-8">
                {{ form_row(form.title) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.objective) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                {{ form_row(form.G) }}
            </div>
            <div class="col-xs-3">
                {{ form_row(form.gg) }}
            </div>
            <div class="col-xs-3">
                {{ form_row(form.dd) }}
            </div>
            <div class="col-xs-3">
                {{ form_row(form.D) }}
            </div>
        </div>

        <div class="text-center">
            {{ form_row(form.submit) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
