<img src='http://g.gravizo.com/g?
digraph G {
   rankdir = BT

{% for objective in objectives %}
{% for child in objective.children %}
   {{ child.code }}->{{ objective.code }};
{% endfor %}
{% endfor %}

{% for perspectiveGroup in perspectiveGroups %}
   {rank=same; {{ perspectiveGroup }}}
{% endfor %}

 }
'/>
