{% extends 'ZantolovBsBundle::app.html.twig' %}

{% block body %}

    <section>
        <div class="col-md-3">
            <h4>Objectives map</h4>
            <div class="well">
                <img id="goalMap" class="img-thumbnail">
            </div>
        </div>
        <div class="col-md-9">
            {% for p in perspectives %}
                <div class="col-md-3">
                    <h4>{{ p.title }}</h4>

                    <div class="itemCard" data-perspective="{{ p.id }}">

                        <a href="#" class="btn btn-block btn-success newTrigger">New
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>

                </div>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    </section>



    <script>
        var functions = window.functions || [];

        function done() {
            $("#myModal .modal-body iframe").hide();
            $("#myModal").modal('hide');
            loadList();
        }

        function loadList() {
            $(".itemCard .item").remove();
            var apiUrl = "{{ url('api.objectives') }}";
            $.ajax({
                url: apiUrl,

                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var elem = data[i];

                        var listItem = $('<div/>').addClass('item').attr('data-id', elem.id);
                        listItem.append($('<div/>').addClass('titleContainer').append(
                                        $('<span>').addClass('code').text(elem.code))
                                        .append($('<span>').addClass('title').text(elem.title))
                                        .append($('<span>').addClass('children').text(elem.children.join()))
                        );
                        listItem.append($('<a/>').addClass('editTrigger').html('<i class="fa fa-edit"></i>'));
                        listItem.append($('<a/>').addClass('removeTrigger').html('<i class="fa fa-trash-o"></i>'));
                        listItem.append($('<a/>').addClass('addMeasureTrigger').html('<i class="fa fa-file-o"></i>'));

                        $('[data-perspective="' + elem.perspective + '"]').append(listItem);

                    }
                }
            });

            $.get("{{ url('objective.map') }}", function (data) {
                $("#goalMap").attr('src', data);
            });
        }

        functions.push(loadList);

        functions.push(function () {

            $('body').on("click", '.editTrigger', function (e) {
                e.preventDefault();
                var id = $(this).parent('.item').attr('data-id');
                var url = "{{ url('api.objectives.edit') }}/" + id;
                $("#myModal .modal-body iframe").attr('src', url).show();
                $("#myModal").modal('show');
            });

            $('body').on("click", '.removeTrigger', function (e) {
                e.preventDefault();
                if (!confirm('Are you sure?')) {
                    return;
                }
                var id = $(this).parent('.item').attr('data-id');
                var url = "{{ url('api.objectives.remove') }}/" + id;

                $.ajax({
                    url: url,
                    success: function (data) {
                        if (data.status == 1) {
                            loadList();
                        }
                    }
                });
            });

            $('body').on("click", '.newTrigger', function (e) {
                e.preventDefault();
                var pId = $(this).parent('.itemCard').attr('data-perspective');
                console.log(pId);
                var url = "{{ url('api.objectives.edit') }}/new?perspective=" + pId;
                $("#myModal .modal-body iframe").attr('src', url).show();
                $("#myModal").modal('show');
            });

            $('body').on("click", '.addMeasureTrigger', function (e) {
                e.preventDefault();
                var oId = $(this).parent('.item').attr('data-id');
                console.log(oId);
                var url = "{{ url('api.measures.edit') }}/new?objective=" + oId;
                $("#myModal .modal-body iframe").attr('src', url).show();
                $("#myModal").modal('show');
            });

        });

    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
