{% extends 'ZantolovBsBundle::app.html.twig' %}

{% block outerBody %}
    <h4 class="text-center">
        {{ m }}
    </h4>

    <div id="measures">
    </div>

    <ul id="container">

    </ul>
    <div class="text-center">
        <h4>Add new</h4>

        <div>
            <select name="" id="measureId" class="noSelect2">
                {% for measure in allMeasures %}
                    {% if measure != m and measure not in m.getChildrenMeasuresList() %}
                        <option value="{{ measure.id }}"
                                data-code="{{ measure.code }}"
                                data-title="{{ measure.title }}"
                                >{{ measure }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <a href="javascript:void(0);" class="addRatioTrigger btn btn-success btn-sm">
                Add <i class="fa fa-plus"></i>
            </a>

            <hr>

            <div class="text-center">
                <a href="javascript:parent.done();" class="btn btn-primary">
                    Done <i class="fa fa-check"></i>
                </a>

                <a href="javascript:void(0);" class="saveTrigger btn btn-success">
                    Save <i class="fa fa-check"></i>
                </a>
            </div>


        </div>

    </div>

    <script>
        var functions = window.functions || [];

        /**
         *
         <div class="range range-success">
         <input id="ratioValue" type="range" name="range" min="1" max="100" value="50"
         onchange="rangeSuccess.value=value/100">
         <output id="rangeSuccess">0.5</output>
         </div>
         */
        function buildItem(elem) {

            var slider = $('<div/>').addClass('range range-success').attr('data-measure-id', elem.measure.id)
                            .append($('<input/>').attr({type: 'range', min: "1", max: 100, value: elem.ratio * 100}))
                            .append($('<output/>').val(elem.ratio * 100))
                    ;

            var item = $('<div/>').addClass('sliderItem');
            item.append($('<div/>').addClass('col-xs-4 title').text(elem.measure.code + ": " + elem.measure.title)
                            .append($('<i/>').addClass('fa fa-times'))
            );
            item.append($('<div/>').addClass('col-xs-8 slider').append(slider));
            return item;
        }

        function loadListRatio() {
            $("#measures *").remove();
            $.ajax({
                url: "{{ url('app.m.details', {id: m.id}) }}",
                success: function (data) {
                    if (data.children) {
                        for (var i = 0; i < data.children.length; i++) {
                            var elem = data.children[i];
                            $("#measures").append(buildItem(elem));
                        }
                    }
                }
            });
        }

        functions.push(function () {
            loadListRatio();

            $("body").on("click", ".sliderItem .fa-times", function (e) {
                $(this).parents('.sliderItem').remove();
            });

            $(".addRatioTrigger").on("click", function (e) {

                var measureId = $("#measureId").val();
                var measureCode = $("#measureId option:selected").attr('data-code');
                var measureTitle = $("#measureId option:selected").attr('data-title');

                if ($('.range[data-measure-id="' + measureId + '"]').length) {
                    alert("Measure already exists");
                    return;
                }

                var elem = {
                    ratio: 0,
                    measure: {
                        code: measureCode,
                        title: measureTitle,
                        id: measureId
                    }
                };

                $("#measures").append(buildItem(elem));
            });

            $(".saveTrigger").on("click", function (e) {

                var data = [];
                $('.sliderItem').each(function () {
                    var item = {};

                    item.measureId = $(this).find('.range').attr('data-measure-id');
                    item.ratio = $(this).find('input[type=range]').val() / 100;
                    data.push(item);
                });

                $.ajax({
                    url: "{{ url('api.ratio.edit', {id: m.id}) }}",
                    type: "POST",
                    data: {data: data},
                    success: function (data) {
                        if (data.status == 1) {
                        } else {
                            if (data.msg) {
                                alert(data.msg);
                            }
                        }
                        loadListRatio();
                    }
                });
            });

            function checkSliderSum() {
                var sum = 0;
                $('div.range input[type=range]').each(function () {
                    sum += parseFloat($(this).val());
                });

                if (sum == 100) {
                    return 1;
                }
                if (sum < 100) {
                    return 0;
                }
                if (sum > 100) {
                    return -1;
                }
            }

            $("body").on("change", "input[type=range]", function (e) {
                var oldVal = $(this).parents('div.range').children('output').val();
                var elem = $(this).parents('div.range').children('output');
                elem.val($(this).val());

                if (checkSliderSum() == -1) {
                    elem.val(oldVal);
                    $(this).val(oldVal);
                }
            });

            $("body").on("click", ".removeRatioTrigger", function (e) {
                if (!confirm("Are you sure?")) {
                    return;
                }
                var id = $(this).parents('.ratioItem').attr('data-ratio-id');
                var url = "{{ url('api.ratio.remove', {id:''})}}/" + id;
                $.ajax({
                    url: url,
                    type: "POST",
                    success: function (data) {
                        if (data.status == 1) {
                            loadListRatio();
                        }
                    }
                });

            });
        });
    </script>

{% endblock %}
