body.dragging, body.dragging *
  cursor: move !important

.dragged
  position: absolute
  opacity: 0.5
  z-index: 2000

.sortable
  margin: 0
  padding: 4px 10px
  background: #d7ebf1

  ol
    padding-left: 5px

  li
    border-radius: 3px
    cursor: move
    display: block
    padding: 5px 10px
    background: rgba(255, 255, 255, .7)
    border: 1px solid rgba(0, 0, 0, 0.05)
    margin: 5px 0

.sortable, .sortable ol
  list-style: none

  li.placeholder
    padding: 5px 15px
    position: relative
    background: rgba(0, 0, 0, 0.1)

    &:before
      position: relative
      content: "\f105"
      font-family: FontAwesome
      left: -5px
      top: 0