//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900|Lora:400,700&subset=latin,latin-ext)
@import 'theme/lumen.min.css'
@import 'sortable.sass'
@import 'slider.css'

body
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif

.itemCard
  background: #EEE
  border: 1px solid #E5E5E5
  padding: 3px

  .item
    padding: 5px 10px
    background: #FFF
    border: 1px solid #F5F5F5
    margin: 5px 0

    .titleContainer
      font-size: .8em
      display: inline-block
      max-width: 60%

    .title
      display: inline-block

    .code
      display: inline-block
      margin-right: 5px
      font-weight: bold

    .childrenContainer
      display: block
      font-size: 0.8em

    .editTrigger, .removeTrigger, .childrenTrigger, .addMeasureTrigger
      display: inline
      margin: 0 3px
      float: right
      cursor: pointer

.modal-body
  iframe
    width: 100%
    min-height: 500px

img#goalMap
  max-width: 100%

.topBlock
  margin: 10px 0 0 0

table#measures
  span.small
    display: block
    font-weight: 300
    font-size: 12px
    line-height: 160%

  td
    padding: 2px
    input
      max-width: 80px
      padding: 1px
      text-align: center
      height: 100%

.scrollableContent
  overflow: auto

select
  max-width: 100%

.removeColumnTrigger
  cursor: pointer
  float: right
  margin: 3px

.removeRatioTrigger
  float: right
  cursor: pointer

#measures
  overflow: hidden
  .title
    padding-top: 5px

.sliderItem
  .fa-times
    cursor: pointer
    float: right

#objectiveData
  .objItem
    vertical-align: top
    display: inline-block
    margin: 2px

    .measureItem
      margin: 3px

      > div
        padding: 5px
        font-size: 0.8em
        border-radius: 2px