@charset "UTF-8";
@import url(theme/lumen.min.css);
@import url(slider.css);
body.dragging, body.dragging * {
  cursor: move !important; }

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000; }

.sortable {
  margin: 0;
  padding: 4px 10px;
  background: #d7ebf1; }
  .sortable ol {
    padding-left: 5px; }
  .sortable li {
    border-radius: 3px;
    cursor: move;
    display: block;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 5px 0; }

.sortable, .sortable ol {
  list-style: none; }
  .sortable li.placeholder, .sortable ol li.placeholder {
    padding: 5px 15px;
    position: relative;
    background: rgba(0, 0, 0, 0.1); }
    .sortable li.placeholder:before, .sortable ol li.placeholder:before {
      position: relative;
      content: "";
      font-family: FontAwesome;
      left: -5px;
      top: 0; }

body {
  font-family: "Roboto", sans-serif; }

.itemCard {
  background: #EEE;
  border: 1px solid #E5E5E5;
  padding: 3px; }
  .itemCard .item {
    padding: 5px 10px;
    background: #FFF;
    border: 1px solid #F5F5F5;
    margin: 5px 0; }
    .itemCard .item .titleContainer {
      font-size: 0.8em;
      display: inline-block;
      max-width: 60%; }
    .itemCard .item .title {
      display: inline-block; }
    .itemCard .item .code {
      display: inline-block;
      margin-right: 5px;
      font-weight: bold; }
    .itemCard .item .childrenContainer {
      display: block;
      font-size: 0.8em; }
    .itemCard .item .editTrigger, .itemCard .item .removeTrigger, .itemCard .item .childrenTrigger, .itemCard .item .addMeasureTrigger {
      display: inline;
      margin: 0 3px;
      float: right;
      cursor: pointer; }

.modal-body iframe {
  width: 100%;
  min-height: 500px; }

img#goalMap {
  max-width: 100%; }

.topBlock {
  margin: 10px 0 0 0; }

table#measures span.small {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 160%; }
table#measures td {
  padding: 2px; }
  table#measures td input {
    max-width: 80px;
    padding: 1px;
    text-align: center;
    height: 100%; }

.scrollableContent {
  overflow: auto; }

select {
  max-width: 100%; }

.removeColumnTrigger {
  cursor: pointer;
  float: right;
  margin: 3px; }

.removeRatioTrigger {
  float: right;
  cursor: pointer; }

#measures {
  overflow: hidden; }
  #measures .title {
    padding-top: 5px; }

.sliderItem .fa-times {
  cursor: pointer;
  float: right; }

#objectiveData .objItem {
  vertical-align: top;
  display: inline-block;
  margin: 2px; }
  #objectiveData .objItem .measureItem {
    margin: 3px; }
    #objectiveData .objItem .measureItem > div {
      padding: 5px;
      font-size: 0.8em;
      border-radius: 2px; }

/*# sourceMappingURL=style.css.map */
